<!-- <button (click)="increment()"> Increment </button>

<h1> {{ count$ | async }} </h1>

<button (click)="decrement()"> Decrement </button>

<button (click)="reset()"> Reset </button> -->

<!-- <h1 #h1Tag> Hello Parent </h1> -->

<!-- <app-lifecycle #childView [myTitle]=title>
    <h1> Content Projection </h1>
    <p> Hello from component lifecycle </p>
</app-lifecycle> -->
<!-- <app-single-project>
    <p>Is content projection cool?</p>
    <p question>Let's learn about content projection!</p>
</app-single-project> -->

<!-- <ng-container *ngIf="true">
    <app-single-project *ngFor="let item of [1, 2, 3]; let i = index; ">
        <p>Is content projection cool? {{ item + ' ' + i }}</p>
    </app-single-project>
</ng-container> -->

<nav>
    <ul>

        <li> <a [queryParams]="{ auth: 'true' }" routerLink="login" routerLinkActive="active"> Login </a> </li>
        <li> <a routerLink="user" routerLinkActive="active"> Users </a> </li>
        <li>  <a [routerLink]="['sign-up']" routerLinkActive="active" fragment="sign" #signUpRef="routerLinkActive"> Sign up </a> </li>
        <li>  <a [routerLink]="['post']" routerLinkActive="active"> posts </a> </li>

        is Active: {{ signUpRef.isActive }}
    </ul>
</nav>

<hr />

<!-- <app-counter></app-counter> -->

<!-- <app-simple>
    <p cont1> This is simple content progection </p>
    <p cont2> This is simple content progection </p>
    <p cont3> This is simple content progection </p>
</app-simple> -->

<hr />

<!-- 
    Property binding
    1* [] === binding
    2* one direction 
-->

<button [disabled]="!form"> Save </button>
<h1 [ngClass]="head1Class"> Hello </h1>

<p [style.font-size]="styleFontSize"> the type of the input is {{ type }} </p>

<!-- <app-simple>
    <h2> title </h2>
    <p> Content </p>
</app-simple> -->

<router-outlet></router-outlet>
